:root {
    --cell-size: 22px;
    --cell-state-color: #494949;
    --cell-goal-background-color: #2f2f2f;
    --cell-background-color: #272727;
    --cell-highlight-color: #6f6f6f;
    --background-color: #1f1f1f;
    --label-color: #b0b5b9;
}

body {
    background-color: var(--background-color);
    user-select: none;
}

#yeartable td {
    cursor: default;
    padding: 0;
    height: var(--cell-size);
    width: var(--cell-size);
    min-height: var(--cell-size);
    min-width: var(--cell-size);
}

#yeartable td svg {
    display: block;
    fill: var(--cell-state-color);
    height: var(--cell-size);
    width: var(--cell-size);
    transition: 0.3s;
}

#yeartable td svg:hover {
    fill: var(--label-color);
}

#app {
    align-self: flex-start;
}

#dob {
    text-align: center;
}

td {
    position: relative;
}

.week_index {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    color: var(--cell-state-color);
    font-weight:bold;
    font-size: 11px;
    pointer-events: none;
}

.age-label {
    margin: 0 10px 10px 0;
    color: var(--label-color);
}

.count {
    margin-bottom: 15px;
    color: var(--cell-state-color);
}